@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Roboto:ital@1&display=swap');


.main {
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
}

.web_cam_div {
    margin-top: 15%;
}

button {
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    font-family: 'Roboto';
    border: none;
}

/* Filter Section */

.filter_div_main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.filter_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    box-sizing: border-box;
}

.filter_div li {
    margin: 5px;
    padding-bottom: 1px;
    width: auto;
    border: 1px solid black;
    list-style: none;
    box-sizing: border-box;
}