@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Raleway:wght@500&display=swap');


body{
    background-color: aqua;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-bottom: 2%;
}

.web_cam_div {
    margin-top: 15%;
}

button {
    width: 100%;
    padding: 1%;
    border-radius: 5px;
    font-family: 'Kanit';
    border: none;
}

/* Filter Section */

.filter_div_main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.filter_div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    box-sizing: border-box;
}

.btn_filter {
    cursor: pointer;
    border: 2px solid black;
    padding: 2%;
}

.filter_div li {
    margin: 5px;
    width: auto;
    list-style: none;
    box-sizing: border-box;

}

.btn_filter:hover {
    border: 2px solid rgb(16, 12, 255);
}

.filter {
margin-top: 1%;
}

h2 {
    text-align: center;
    font-family: 'Kanit';

}

.resetBtn{
    background-color: red;
    margin-top: 3%;
}

.resetBtn:hover{
    background-color: rgb(184, 9, 9);

}

.capbtn:hover{
    background-color: rgb(199, 199, 199);
}

.btn{
    padding: 2%;
    cursor: pointer;
    font-size: larger;
    font-weight: 660;
}
